<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: page-title"></div>
    <nav th:replace="fragments :: nav"></nav>
    <div class="container">
        <div class="table-responsive">
            <h3>Add a new cheese to your list</h3>
            <form method="POST">
                <table>
                    <th>Cheese Name</th>
                    <th>Description</th>
                    <tr>
                        <td><input type="text" name="cheeseName" /></td>
                        <td><input type="text" name="cheeseDescription" /></td>
                    </tr>
                </table>
                <input type="submit" value="Add Cheese" class="btn btn-success"/>
            </form>
        </div>
    </div>
</body>
</html>