<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: page-title"></div>
    <nav th:replace="fragments :: nav"></nav>
    <div class="container">
        <div class="table-responsive">
            <h3>Add a new cheese to your list</h3>
            <form method="POST" th:object="${cheese}">
                <table>
                    <th>Cheese Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <tr>
                        <td><input th:field="*{name}" /><p th:errors="*{name}" class="errors"></p></td>
                        <td><input th:field="*{description}" /><p th:errors="*{description}" class="errors"></p></td>
                        <td>
                            <select th:field="*{type}">
                                <option th:each="cheeseType : ${cheeseTypes}" th:text="${cheeseType.getName()}" th:value="${cheeseType}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Add Cheese" class="btn btn-success"/>
            </form>
        </div>
    </div>
</body>
</html>