<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="page-title" th:fragment="page-title">
    <h1 th:text="${title}"></h1>
</div>
<nav class="topnav" id="myTopnav" th:fragment="nav">
    <a href="/cheese">Cheeses</a>
    <a href="/cheese/add">Add</a>
    <a href="/cheese/remove">Remove</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</nav>
</body>
</html>